<div class="container">

    <hr>

    <div class="row">

        <div class="col-2 text-center">

            <a href="#" class="text-dark">Impressum</a>

        </div>
        <div class="col-2 text-center">

            <a href="#" class="text-dark">Datenschutz</a>

        </div>
        <div class="col-4 text-center">

            Webgame oder so

        </div>
        <div class="col-2 text-center">

            <a href="#" class="text-dark">Guides</a>

        </div>
        <div class="col-2 text-center">

            <a href="#" class="text-dark">Regeln</a>

        </div>

    </div>

</div>