<div class="list-group">
    <a class="list-group-item list-group-item-action active">
        Allgemein
    </a>
    <a href="#" class="list-group-item list-group-item-action">Übersicht</a>

    <a href="#" class="list-group-item list-group-item-action">Inventar</a>

</div>

{% if userPermLevel == 1 or userPermLevel == 2 %}

    <div class="list-group mt-3">
        <a class="list-group-item list-group-item-action active">
            Admin
        </a>
        <a href="#" class="list-group-item list-group-item-action">Dashboard</a>

        <a href="{{ app.request.getBaseURL() }}/admin/items" class="list-group-item list-group-item-action">Items</a>

    </div>

{% endif %}