<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <link href="{{ app.request.getBaseURL() }}/css/bootstrap.css" rel="stylesheet"/>
        <title>{% block title %}{% endblock %} - Webgame</title>
    {% endblock %}
</head>
<body>

    {% include 'element/navigation.html.twig' %}

    {% block content %}{% endblock %}

    {% include 'element/footer.html.twig' %}

</body>
</html>