{% extends "base.login.html.twig" %}

{% block title %}Start{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Items</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Admin</a></li>
                        <li class="breadcrumb-item">Items</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4>Items</h4>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-sm btn-dark w-100" href="#">Neues Item</a>
                    </div>

                    <div class="col-12">

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Icon</th>
                                <th scope="col">Titel</th>
                                <th scope="col">Typ</th>
                                <th scope="col">Wert</th>
                                <th scope="col">Im Spiel</th>
                            </tr>
                            </thead>
                            <tbody>

                                {% for item in items %}

                                    {% include 'admin/element/itemTable.html.twig' %}

                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}