{% extends "base.login.html.twig" %}

{% block title %}Start{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Items</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Admin</a></li>
                        <li class="breadcrumb-item">Items</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-6">
                <div class="row">
                    <div class="col-8">
                        <h4>Gruppen</h4>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-sm btn-dark w-100" href="#">Neue Gruppe</a>
                    </div>

                    <div class="col-12">

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Titel</th>
                                <th scope="col">Aktion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Spitzhacke</td>
                                <td><a href="#" class="btn btn-danger btn-sm">Löschen</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-8">
                        <h4>Items</h4>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-sm btn-dark w-100" href="#">Neues Item</a>
                    </div>

                    <div class="col-12">

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Icon</th>
                                <th scope="col">#</th>
                                <th scope="col">Titel</th>
                                <th scope="col">Aktion</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><img src="https://jf-staeulalia.pt/img/other/35/collection-pickaxe-picture-5.png" class="w-25 h-25"></td>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}