{% extends "base.html.twig" %}

{% block title %}Anmelden{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="container mt-5 mb-5">

        {% for message in messages %}

            {% include 'element/message.html.twig' with message %}

        {% endfor %}

        <div class="row">

            <div class="col-4"></div>

            <div class="col-4">

                <form method="post">
                    <div class="mb-3">
                        <label for="loginEmail" class="form-label">E-Mail Adresse</label>
                        <input type="email" class="form-control" id="loginEmail" name="loginEmail">
                    </div>
                    <div class="mb-3">
                        <label for="loginPassword" class="form-label">Passwort</label>
                        <input type="password" class="form-control" id="loginPassword" name="loginPassword">
                    </div>
                    <button type="submit" class="btn btn-primary">Anmelden</button>
                </form>

            </div>

            <div class="col-4"></div>

        </div>

    </div>

{% endblock %}