{% extends "base.html.twig" %}

{% block title %}Registrieren{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="container mt-5 mb-5">

        {% for message in messages %}

            {% include 'element/message.html.twig' with message %}

        {% endfor %}

        <div class="row">

            <div class="col-4"></div>

            <div class="register-box">
                <div class="card card-outline card-orange">
                    <div class="card-header text-center">
                        <a href="{{ app.request.getBaseURL() }}/" class="h1"><b>Web</b>Game</a>
                    </div>
                    <div class="card-body">
                        <p class="login-box-msg">Registriere dich, um ein neues Spiel zu starten!</p>

                        <form action="" method="post">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Spielername" name="registerUsername">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="E-Mail" name="registerEmail">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Passwort" name="registerPassword">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-7"></div>
                                <div class="col-5">
                                    <button type="submit" class="btn btn-primary btn-block">Registrieren</button>
                                </div>
                            </div>
                        </form>

                        <hr>

                        <small>
                            Mit der Registrierung stimmst du den Regeln und der Datenschutzerklärung zu
                        </small>

                        <hr>

                        <a href="{{ app.request.getBaseURL() }}/" class="text-center">Ich habe bereits ein Konto</a>
                    </div>
                </div>
            </div>

            <div class="col-4"></div>

        </div>

    </div>

{% endblock %}